.box {
  width: 100px;
  height: 50px;
  animation: movement 3s infinite;
}

.one {
    background-color: blue;
    /* animation-delay: 0.5s */
    animation-timing-function: linear;
}
.two {
    background-color: green;
    /* animation-delay: 1s */
    animation-timing-function: ease-in;

}
.three {
    background-color: yellow;
    /* animation-delay: 1.5s */
    animation-timing-function: ease-out;

}
.four {
    background-color: red;
    /* animation-delay: 2s */
    animation-timing-function: ease-in-out;

}
.five {
    background-color: purple;
    /* animation-delay: 2.5s */
    animation-timing-function: ease;

}

@keyframes movement {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(600px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
