body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label,
input,
button {
  display: block;
  margin: 10px 0;
}


.post {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: lightblue;
}