* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent {
    border: 2px solid black;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}

.box {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: 1px solid grey;
    color: white;
    
}