:root {
  --color1: blue;
  --color2: red;
  --color3: rgb(0, 32, 215);
  --color4: green;
}

h1:first-child {
  font-family: "Protest Guerrilla", sans-serif;
}

#second {
  font-family: "Workbench", sans-serif;
}

h1:nth-child(1) {
  color: red;
}
h1:nth-child(2) {
  color: blue;
}
h1:nth-child(3) {
  color: var(--sufiyan);
}
h1:nth-child(4) {
  color: red;
}

.button {
  color: var(--color3);
}

h1:nth-child(5) {
  color: blue;
}
h1:nth-child(6) {
  color: var(--sufiyan);
}
h1:nth-child(7) {
  color: red;
}
h1:nth-child(8) {
  color: blue;
}
h1:nth-child(9) {
  color: var(--sufiyan);
}
h1:nth-child(10) {
  color: red;
}
h1:nth-child(11) {
  color: blue;
}
h1:nth-child(12) {
  color: var(--sufiyan);
}
